/* CSS declarations go here */
@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/****
 General
 ***/
body {
    font-family: "Roboto";
}
.loading .btn-text {
    display: none;
}
.btn-loading {
    display: none;
}
.loading .btn-loading {
    display: block;
    animation: rotation 2s linear infinite;
}
button {
    width: 130px;
    height: 35px;
    outline: none !important;
    box-shadow: none !important;
}
button + button {
    margin-left: 35px;
}
.navbar-header {
    float: left;
}
.navbar-login {
    margin: 12px 0;
}
.loading-icon {
    display: none;
}
.loading .loading-icon {
    display: inline-block;
    font-size: 4rem;
    position: relative;
    left: 50%;
    top: 50px;
    animation: rotation 2s linear infinite;
}



/*****
 Post page
******/
.new-post-container {
    margin-top: 20px;
    width: 300px;
}
.post-input {
    width: 100%;
}
.btn-create-post {
    margin-top: 10px;
}

.post-item {
    box-shadow: 0px 0px 3px lightgray;
    padding: 9px 10px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 205px;
}
.post-content {
    height: 120px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.post-bottom {
    font-weight: 300;
    font-size: 1.3rem;
    color: gray;
}